* {
    margin: 0;
    padding: 0;
}

#board {
    width: 100vw;
    height: 100vh;
    background-color: rgb(28, 43, 44);
    display: grid;
    place-items: center;
}

#squaresContainer {
    background-color: rgb(19, 30, 31); 
    display: grid;
    height: 900px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 500px 2fr;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 16px
}

#squaresTop {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 0 / 1;
    width: 100%;
    height: 100%;
}

#squares {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
}

.square {
    width: 100%;
    height: 100%;
    background-color: green;
}

/* 
rgb(44, 67, 69) */