* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

#board {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}

#squaresContainer {
    background-color: rgb(103, 69, 255); 
    display: grid;
    height: 800px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 500px 1fr;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 32px;

}       
 

#squaresTop {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 0 / 1;
    width: 100%;
    height: 100%;
}

#squares {
    width: 100%;
    height: 100%;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
}

.square {
    width: 100%;
    height: 100%;
    background-color: rgb(131, 103, 255); 
    box-shadow: 0px 10px rgb(83, 45, 255);
    border-radius: 16px;
}

#squaresBottom {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 3;
    gap: 16px;
    padding-top: 32px;

}

#squaresTop {
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(44, 16, 167);
}

.squareBottom {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 16px;
}

#restart {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    border: 6px solid rgb(44, 16, 167);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(44, 16, 167); 

}

.square {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decision {
    font-size: 128px;
}

#squareP {
    background-color: rgb(88, 50, 255); 
}

#squareT {
    background-color: rgb(89, 56, 239); 
}

#cpu {
    background-color: rgb(52, 19, 202); 
}


/* 
rgb(44, 67, 69) */